/* src/App.css */
*{
    background-color: black;
    font-family: Arial, sans-serif;
  }
  
  .main-head {
    color: white;
  }
  
  .container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-right: 10px;
  }
  .head-para{
    color: white;
  }
  .option-head{
    color: white;
  }
  .search-div{
    color: white;
  }
  .delete-para{
    color: white;
  }
  .modal-body{
    color: white;
  }